<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=title%></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS Styling -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
  <link rel="stylesheet" href="/vendor/border-box.css">

  <!-- CSS Styling -->
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/detailed-item.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- not sure if we need this <script defer src="/scripts/item-actions.js"></script> -->

</head>
<body>
  <!-- Include Partials header -->
  <%- include('partials/_nav') %>
  <h2 class="userHeader"><%= name %></h2>
  <div class="itemTitleAndPrice">
    <h1><%= title %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$<%= price %></h1> <!-- &nbsp; adds a space -->
    <i class="fa-solid fa-heart"></i>
  </div>
    <div class="itemContainer">
      <img class="itemPhoto" src="<%= images %>" alt="<%= title %>">
    </div>
  <p class="itemDescription"><%= description %></p>
  <div class="itemActions">
    <!-- Check if current user the creating user -->
    <% if (!currentUserId) { %>
      <p>To contact this seller, please login!</p>
    <% } else if (currentUserId === createUserId) { %>
      <div class="itemActionButtons">
        <!-- Handled by AJAX and route -->
        <form method="POST" action="/detailed-item/<%= id %>"><input class="sellItem" type="submit" value="Mark Item as Sold"></form><br>
        <form method="POST" action="/detailed-item/<%= id %>/delete"><input class="removeItem" type="submit" value="Remove Item"></form>
    <% } else if (currentUserId !== createUserId) { %>
        <!-- 'Contact Seller' href will change once we know how each message is tracked by userID(s) and itemID  -->
        <a href="../messages/:id"><input class="contactSeller" type="submit" value="Contact Seller"></a>
    <% } %>
      </div>
  </div>
</body>
</html>
